body{
    font-size: 2vh;
    
}
.password{
    border:none;
    background-color: #E9ECEE;
    height:10vh ;
    width: 50vw;
    border-radius:15px ;
    font-size:3vh;
    padding:15px;
}
.container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction: row;
    
   

}
.menuLateral{
    height: 100vh;
    background-color: rgb(60, 195, 240);
    align-items: stretch;
    display: flex;
    flex:0.2;
    align-self: flex-start;
    text-align: center;
    flex-direction: column;
}
.center{
    justify-content:center;
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    
}
.checkbox{
    height: 2vh;
    width: 2vw;
}
.inputs{
    flex-direction: column;
    display: flex;
    margin:1vw;
}
.input{
    margin-top:1vh;
    display: flex;
    align-items: flex-start;
}
#inputNumber{
    
    height: 2vh;
    width: 1.5vw;
    text-align:center;
    border:none;
    background-color: rgb(255, 255, 255);
    border-radius: 2px

}
.slideInput{
    height: 4vh;
    width: 15vw;
    display: flex;
}
.inputSlideDiv{
    margin-top:7vw;
    font-size: 2vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sliderDiv{
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex:1;
    width: 100%;
}